@model SailorsWebApi.Models.Functions

@{
    ViewBag.Title = "Delete";
}

<h2>Funkcje</h2>

<h3>Jesteś pewien, że chcesz to usunąć?</h3>
<div>
    <h4>Functions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa funkcji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.functionName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
