@model SailorsWebApi.Models.EquipmentTypes

@{
    ViewBag.Title = "Delete";
}

<h2>Typy sprzętu</h2>

<h3>Jesteś pewien, że chcesz to usunąć?</h3>
<div>
    <h4>Usuń</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa typu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
