@model SailorsWebApi.Models.SailingEquipment

@{
    ViewBag.Title = "Details";
}

<h2>Sprzęt do wynajęcia</h2>

<div>
    <h4>Szczegóły</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa sprzętu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipmentName)
        </dd>

        <dt>
            Typ sprzętu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentTypes.typeName)
        </dd>

    </dl>
</div>
<p>
@if (Session["Function"] != null && Session["Function"].ToString() == "0")
{
    @Html.ActionLink("Edytuj", "Edit", new {id = Model.equipmentId}) |
}
    @Html.ActionLink("Wróć do listy", "Index")
</p>
