@{
    ViewBag.Title = "Strona Główna";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Harcerski Ośrodek Wodny w Trzciance</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>O ośrodku</h2>
        <p>
            Co nieco o ośrodku
        </p>
    </div>
    <div class="col-md-4">
        <h2>Rezerwacja ośrodka</h2>
        <p>Opis typów imprez na ośrodku</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Rezerwacja sprzętu na ośrodku</h2>
        <p>Informacja jaki sprzęt jest możliwy do wynajęcia na ośrodku</p>
        <p></p>
    </div>
</div>
