@{
    ViewBag.Title = "Strona Główna";
}

<div class="jumbotron">
    <h1>Harcerski Ośrodek Wodny</h1>
    <p class="lead"> w Trzciance</p>
    <p><a href="https://zeglarze.trz.pl" class="btn btn-primary btn-lg">Dodatkowe informacje o ośrodku &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>O ośrodku</h2>
        <p>
            Harcerski Ośrodek Wodny w Trzciance działa od 1972 roku. Swoje początki ma w 15 Harcerskiej Drużynie Wodnej
            dzialającej przy Międzyszkolnym Klubie Sportowym. Po rozwiązaniu Klubu żeglarze przeszli do
            Młodzieżowego Domu Kultury w Trzciance i od tego momentu działają jako Harceski Ośrodek Wodny przy MDK w Trzciance.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Rezerwacja ośrodka</h2>
        <p>
            Na terenie ośrodka mogą odbywać się zarówno wydarzenia kulturalne jak i imprezy firmowe czy prywatne ogniska. 
            Jedną z większych imprez jakie odbywały się na terenie ośrodka była Trzciamajka, to tutaj odbyły się pierwsze edycje
            tego festiwalu. Cykliczną imprezą są okręgowe regaty PZŻ.
        </p>
        <p>@Html.ActionLink("Rezerwuj ośrodek", "Create", "HabourRentings")</p>
    </div>
    <div class="col-md-4">
        <h2>Rezerwacja sprzętu na ośrodku</h2>
        <p>
            Na terenie ośrodka znajdują się cztery żaglówki klasy Omega, na jednostkach tego typu może pływac jednocześnie 6  osób.
            Innym jachtem jest Tango 720, jacht kabinowy mieszczący maksymalnie 6 osób. Poza żaglówkami znajdują się również kajaki.
        </p>
        <p>@Html.ActionLink("Rezerwuj sprzęt", "Create", "RentingEquipments")</p>
    </div>
</div>
